# Build outputs
*.o
*.a
*.so
*.ko
*.mod.c
*.cmd
*.tmp
vmlinux*
*.img
*.dtb
*.dtbo
modules.builtin
modules.order
Module.symvers
*.gz
.tmp_versions/
modules_install/
*.tar.gz

# Ignore everything in subdirs except what we explicitly add
arch/*
!arch/arm64/
arch/arm64/*
!arch/arm64/kernel/
!arch/arm64/tools/
arch/arm64/kernel/*
!arch/arm64/kernel/Makefile
!arch/arm64/kernel/led_control.c
!arch/arm64/kernel/hellokernel.c

include/*
!include/linux/
!include/uapi/
include/linux/*
!include/linux/syscalls.h
include/uapi/*
!include/uapi/asm-generic/
include/uapi/asm-generic/*
!include/uapi/asm-generic/unistd.h

kernel/*
!kernel/sys_ni.c
